.android-large1-container {
  min-height: 100vh;
}
.android-large1-android-large1 {
  width: 100%;
  height: 1421px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.android-large1-ejercicios {
  top: 391px;
  left: 3px;
  width: 365px;
  height: 647px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 1);
}
.android-large1-ejercicios1 {
  top: 0px;
  left: 0px;
  width: 365px;
  height: 647px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.android-large1-image3 {
  top: 509px;
  left: 127px;
  width: 145px;
  height: 82px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.android-large1-text {
  top: 122px;
  left: 7px;
  color: rgba(0, 0, 0, 1);
  width: 366px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text32 {
  top: 4.871429443359375px;
  left: 10.82000732421875px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 19.485713958740234px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: 19.485713958740234px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-image1 {
  top: 246px;
  left: 62px;
  width: 245px;
  height: 141px;
  position: absolute;
  border-color: transparent;
  border-radius: 58px;
}
.android-large1-frame1 {
  top: 0px;
  left: 4px;
  width: 341px;
  height: 31.177143096923828px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.android-large1-frame2 {
  top: 31px;
  left: 8px;
  width: 175px;
  height: 32px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(0, 120, 232, 1);
}
.android-large1-text34 {
  top: 5px;
  left: 7px;
  color: rgba(255, 255, 255, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Imprima;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-rectangle9 {
  top: 87px;
  left: 5px;
  width: 351px;
  height: 29px;
  position: absolute;
  border-color: transparent;
}
.android-large1-rectangle10 {
  top: 67px;
  left: 8px;
  width: 63px;
  height: 20px;
  position: absolute;
  border-color: transparent;
}
.android-large1-text35 {
  top: 70px;
  left: 11px;
  color: rgba(0, 0, 0, 1);
  width: 169px;
  height: auto;
  position: absolute;
  font-size: 12px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text37 {
  top: 93px;
  left: 133px;
  color: rgba(255, 255, 255, 1);
  width: 82px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-escuelas-vinculadas {
  top: 1054px;
  left: -4px;
  width: 375px;
  height: 243px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.android-large1-rectangle7 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 243px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px 50px 0 0;
}
.android-large1-text39 {
  top: 12px;
  left: 26px;
  color: rgba(255, 255, 255, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: italic;
  text-align: justified;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-rectangle8 {
  top: 101px;
  left: 27px;
  width: 321px;
  height: 73px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.android-large1-text41 {
  top: 105px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-dirigidopara {
  top: 80px;
  left: 0px;
  width: 405px;
  height: 303px;
  display: flex;
  position: absolute;
  box-shadow: 0px 3.8971428871154785px 3.8971428871154785px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(133, 216, 222, 1);
}
.android-large1-rectangle3 {
  top: 132px;
  left: 15px;
  width: 221px;
  height: 62px;
  position: absolute;
}
.android-large1-rectangle2 {
  top: 194px;
  left: 15px;
  width: 313px;
  height: 92px;
  position: absolute;
}
.android-large1-text48 {
  top: 146px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 233px;
  height: auto;
  position: absolute;
  font-size: 19.485713958740234px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Gill Sans MT;
  font-weight: 700;
  line-height: 19.485713958740234px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text50 {
  top: 211px;
  left: 27px;
  color: rgba(0, 0, 0, 1);
  width: 287px;
  height: auto;
  position: absolute;
  font-size: 11.691429138183594px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-quienes-somos {
  top: 98px;
  left: 12px;
  width: 341px;
  height: 99px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0 0 20px 20px;
}
.android-large1-rectangle4 {
  top: 0px;
  left: 0px;
  width: 341px;
  height: 99px;
  position: absolute;
}
.android-large1-rectangle5 {
  top: -14px;
  left: 81px;
  width: 179px;
  height: 38px;
  position: absolute;
  border-color: transparent;
  border-radius: 20px;
}
.android-large1-text52 {
  top: 22.6875px;
  left: 10.809798240661621px;
  color: rgba(0, 0, 0, 1);
  width: 319px;
  height: auto;
  position: absolute;
  font-size: 13px;
  align-self: auto;
  font-style: Regular;
  text-align: justified;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text54 {
  top: -6.663461685180664px;
  left: 20px;
  color: rgba(0, 0, 0, 1);
  width: 302px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Imprima;
  font-weight: 400;
  line-height: 20px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-logo1button {
  top: 0px;
  left: 20px;
  width: 334px;
  height: 80px;
  position: absolute;
  border-color: rgba(16, 139, 192, 0.9900000095367432);
  border-style: solid;
  border-width: 1.2195287942886353px;
}
.android-large1-contactanos {
  top: 1251px;
  left: 0px;
  width: 375px;
  height: 170px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.android-large1-rectangle6 {
  top: 0px;
  left: 0px;
  width: 375px;
  height: 170px;
  position: absolute;
  border-color: transparent;
  border-radius: 50px 50px 0 0;
}
.android-large1-text56 {
  top: 21px;
  left: 23px;
  color: rgba(255, 255, 255, 1);
  width: 112px;
  height: auto;
  position: absolute;
  font-size: 19.485713958740234px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 19.485713958740234px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-text58 {
  top: 55px;
  left: 11px;
  color: rgba(255, 255, 255, 1);
  width: 333px;
  height: auto;
  position: absolute;
  font-size: 19.485713958740234px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 19.485713958740234px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-vector {
  top: 76px;
  left: 194.07008361816406px;
  width: 22px;
  height: 18px;
  position: absolute;
}
.android-large1-text65 {
  top: 129px;
  left: 13px;
  color: rgba(255, 255, 255, 1);
  width: 331px;
  height: auto;
  position: absolute;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Gill Sans MT;
  font-weight: 400;
  line-height: 19.485713958740234px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.android-large1-vector1 {
  top: 105px;
  left: 261.7924499511719px;
  width: 0px;
  height: 1px;
  position: absolute;
}
.android-large1-vector2 {
  top: 102px;
  left: 247.64151000976562px;
  width: 17px;
  height: 18px;
  position: absolute;
}
.android-large1-vector3 {
  top: 107px;
  left: 252.69541931152344px;
  width: 7px;
  height: 8px;
  position: absolute;
}
.android-large1-vector4 {
  top: 55px;
  left: 250px;
  width: 12px;
  height: 15px;
  position: absolute;
}
.android-large1-iconfacebook {
  top: 1318px;
  left: 255px;
  width: 25px;
  height: 18px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.android-large1-iconinstagram {
  top: 1350px;
  left: 245px;
  width: 23px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
@media(max-width: 479px) {
  .android-large1-ejercicios1 {
    width: 407px;
    height: 646px;
  }
  .android-large1-text {
    color: rgb(0, 0, 0);
    font-size: 12px;
    font-family: Inter;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .android-large1-frame2 {
    top: 30px;
    left: 13px;
    width: 194px;
  }
  .android-large1-text34 {
    top: 8px;
    color: rgb(255, 255, 255);
    right: 24px;
    font-size: 20px;
    font-family: Imprima;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
  }
  .android-large1-rectangle9 {
    width: 384px;
    height: 29px;
  }
  .android-large1-rectangle3 {
    top: 137px;
    left: 22px;
  }
  .android-large1-logo1button {
    top: 0px;
    left: 44px;
  }
  .android-large1-vector {
    top: 75px;
    left: 213px;
  }
  .android-large1-vector2 {
    top: 94px;
    left: 175px;
  }
  .android-large1-vector3 {
    top: 99px;
    left: 179px;
  }
  .android-large1-vector4 {
    top: 57px;
    left: 176px;
  }
  .android-large1-iconinstagram {
    left: 180px;
    bottom: 51px;
  }
}
